@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default css from buttons */
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
   padding: 0 !important;
   border: 0 none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af7d; /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
}


@-moz-document url-prefix() {
  .scrollbar-thin  {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #9ca3af7d transparent; /* Firefox */
  }
}
  